body{

font-family: Arial;
margin:0;
background:#f4efe6;
color:#333;

}


.hidden{
display:none;
}


header{

text-align:center;
padding:30px;

}


.frase{
color:#666;
margin-bottom:20px;
}


nav{

display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;

}


.nav-btn{

background:#e8e1d8;
border:none;
padding:10px 20px;
border-radius:30px;
cursor:pointer;
transition:0.3s;

}

.nav-btn:hover{

background:#4f6f52;
color:white;

}

.active{

background:#4f6f52;
color:white;

}


.section{

padding:30px;
max-width:900px;
margin:auto;

}


.cards{

display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;

}


.card{

background:#e8e1d8;
padding:30px;
border-radius:15px;
text-align:center;
width:200px;

}


.card h2{

color:#4f6f52;

}


.card-form{

background:#e8e1d8;
padding:25px;
border-radius:15px;
margin-bottom:20px;

}


.form-grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:15px;

}


input, textarea{

width:100%;
padding:10px;
border-radius:10px;
border:1px solid #ccc;

}


textarea{

height:150px;

}


.btn-main{

background:#4f6f52;
color:white;
border:none;
padding:10px 20px;
border-radius:30px;
cursor:pointer;

}


.btn-main:hover{

opacity:0.8;

}


ul{

list-style:none;
padding:0;

}


li{

background:white;
padding:10px;
margin-bottom:8px;
border-radius:10px;

}


.login-container{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}


.login-box{

background:#e8e1d8;
padding:40px;
border-radius:15px;
width:300px;
text-align:center;

}


.login-box input{

margin-bottom:10px;

}


.login-box button{

width:100%;
background:#4f6f52;
color:white;
border:none;
padding:10px;
border-radius:30px;

}